@{
    ViewData["Title"] = "Healthcare";
}

<section class="container my-5">
    <h1 class="h3 mb-3">Healthcare Support</h1>
    <p>We deliver basic healthcare services and provide medical supplies to households in need.</p>
    <a href="@Url.Action("Create","Donation")" class="btn btn-primary rounded-pill">Help Provide Care</a>
</section>


